img:hover{
  border: 3px orangered solid;
  transform: translateY(10px);
}
img{
  margin: 10px;
}

#images{
  border: 3px black solid;
}

#fancy{
  font-style: italic;
  font-size: large;
  color: blueviolet;
}

#paragraphs{
  border: 3px black solid;
}