img:hover{
  border: 3px orangered solid;
  transform: translateY(10px);
}
img{
  margin: 10px;
}

#images{
  border: 3px black solid;
}

.violet{
  font-style: italic;
  font-size: large;
  color: blueviolet;
}

.green{
  font-style: italic;
  font-size: large;
  color: forestgreen;
}


#paragraphs{
  border: 3px black solid;
}